<div class="container">
  <div class="row">
    <div class="col-md-9">
        <h1 class="asset-title" id='assetName'>후보</h1>
    </div>
    <div class="col-md-3">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#createVotingBoxModal">
          <span style="font-size: 14px;font-family: inherit;border-right:1px solid rgba(255,255,255,0.5);padding-right:0.6em;margin-right:0.5em;vertical-align:middle;">
              <svg class="plus-svg" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10">
                <path fill-rule="evenodd" d="M5.5,4.5 L9.5,4.5 L10,4.5 L10,5.5 L9.5,5.5 L5.5,5.5 L5.5,9.5 L5.5,10 L4.5,10 L4.5,9.5 L4.5,5.5 L0.5,5.5 L0,5.5 L0,4.5 L0.5,4.5 L4.5,4.5 L4.5,0.5 L4.5,0 L5.5,0 L5.5,0.5 L5.5,4.5 Z"/>
              </svg>
          </span>
          후보 추가
        </button>

        <button [routerLink]="['/castedStu', electionKey]" type="button" class="btn btn-primary" >
                  투표한 학생 확인
        </button>
      </div>
    </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive">
        <thead class="thead">
          <tr class="thead-cols">
            
                <th class="info">번호</th>
            
                <th class="info">학번</th>
          
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asset of castedList; index as i"> 

                <td class="asset-properties">{{i+1}}</td>
            
                <td class="asset-properties">{{asset}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
